extends layout
block content
  .main.container
    .row
      .col-md-12
        table#viewList
          th Name
          th Email
          th Phone
          th Region  
          th Delete
          each vol in vols
            tr
              td #{vol.name}
              td #{vol.email}
              td #{vol.phone}
              td #{vol.region}
              td
                form(method='POST' action='/delete')
                  button.remove-doc.btn.btn-danger.col-xs-12(type="submit" data-id=vol._id) Delete
